<div class="section">

        <p class="blog-title">
          Written stories about  <br>
          travel and photography
        </p>
     

      <div class="portfolioFilter clearfix" id="mylinks">
        <button class="btn filter-button highlight" data-filter="all">
          All Categories
        </button>
        <button class="btn btn-default filter-button" data-filter="education">
          Education
        </button>
        <button class="btn btn-default filter-button" data-filter="health">
          Health
        </button>
        <button class="btn btn-default filter-button" data-filter="children">
          Children
        </button>
        <button class="btn btn-default filter-button" data-filter="women">
          Women
        </button>
        <button class="btn btn-default filter-button" data-filter="family">
          Family
        </button>
        <button class="btn btn-default filter-button" data-filter="environment">
          Environment
        </button>
        <button class="btn btn-default filter-button" data-filter="animals">
          Animals
        </button>
        <button class="btn btn-default filter-button" data-filter="shelter">
          Shelter
        </button>
        <button class="btn btn-default filter-button" data-filter="fw">
          Food & Water
        </button>
      </div>

      <div class="portfolioContainer">
          <ul class="cards">
              <li class="cards_item filter health">
                <div class="card">
                  <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
                  <div class="card_content">
                    <h2 class="card_title">Card Grid Layout</h2>
                    <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                    <button onclick="window.location.href='/firsta'" class="btn_card card_btn">Read More</button>
                  </div>
                </div>
              </li>
              <li class="cards_item filter animals">
                <div class="card">
                  <div class="card_image"><img src="https://picsum.photos/500/300/?image=5"></div>
                  <div class="card_content">
                    <h2 class="card_title">Card Grid Layout</h2>
                    <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                    <button class="btn_card  card_btn">Read More</button>
                  </div>
                </div>
              </li>
              <li class="cards_item filter shelter">
                <div class="card">
                  <div class="card_image"><img src="https://picsum.photos/500/300/?image=11"></div>
                  <div class="card_content">
                    <h2 class="card_title">Card Grid Layout</h2>
                    <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                    <button class="btn_card card_btn">Read More</button>
                  </div>
                </div>
              </li>
              <li class="cards_item filter fw">
                <div class="card">
                  <div class="card_image"><img src="https://picsum.photos/500/300/?image=14"></div>
                  <div class="card_content">
                    <h2 class="card_title">Card Grid Layout</h2>
                    <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                    <button class="btn_card  card_btn">Read More</button>
                  </div>
                </div>
              </li>
              <li class="cards_item filter children">
                <div class="card">
                  <div class="card_image"><img src="https://picsum.photos/500/300/?image=17"></div>
                  <div class="card_content">
                    <h2 class="card_title">Card Grid Layout</h2>
                    <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                    <button class="btn_card  card_btn">Read More</button>
                  </div>
                </div>
              </li>
              <li class="cards_item filter education">
                <div class="card">
                  <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                  <div class="card_content">
                    <h2 class="card_title">Card Grid Layout</h2>
                    <p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
                    <button class="btn_card  card_btn">Read More</button>
                  </div>
                </div>
              </li>
            </ul>
          


      </div>
  
</div>
