<div class="section">
  <div class="container">
    <div class="row">
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="blog-title">
          Written stories about travel <br />
          and photography
        </h1>
      </div>

      <div class="portfolioFilter clearfix" id="mylinks">
        <button class="btn filter-button highlight" data-filter="all">
          All Categories
        </button>
        <button class="btn btn-default filter-button" data-filter="education">
          Education
        </button>
        <button class="btn btn-default filter-button" data-filter="health">
          Health
        </button>
        <button class="btn btn-default filter-button" data-filter="children">
          Children
        </button>
        <button class="btn btn-default filter-button" data-filter="women">
          Women
        </button>
        <button class="btn btn-default filter-button" data-filter="family">
          Family
        </button>
        <button class="btn btn-default filter-button" data-filter="environment">
          Environment
        </button>
        <button class="btn btn-default filter-button" data-filter="animals">
          Animals
        </button>
        <button class="btn btn-default filter-button" data-filter="shelter">
          Shelter
        </button>
        <button class="btn btn-default filter-button" data-filter="fw">
          Food & Water
        </button>
      </div>

      <div class="portfolioContainer">
        <div class="responsive">
          <ul class="grid-container">
            <li class="filter education">
              <img src="https://i.ibb.co/q7rC5GD/stock1.jpg" />
              <h3>travel</h3>
              <p>
                <em>"But man is not made for defeat. A man can be destroyed but
                  not defeated."</em>
                <a href="#">Ernest Hemingway</a>
              </p>
            </li>

            <li class="filter health">
              <img src="https://i.ibb.co/q7rC5GD/stock1.jpg" />
              <h3>children</h3>
              <p>
                <em>"You can do anything you decide to do. You can act to change
                  and control your life; and the procedure, the process is its
                  own reward."</em>
                <a href="#">Amelia Earhart</a>
              </p>
            </li>

            <li class="filter education">
              <img src="https://i.ibb.co/q7rC5GD/stock1.jpg" />
              <h3>education</h3>
              <p>
                <em>"Keep your face always toward the sunshine - and shadows will
                  fall behind you."</em>
                <a href="#">Walt Whitman</a>
              </p>
            </li>

            <li class="filter children">
              <img src="https://i.ibb.co/q7rC5GD/stock1.jpg" />
              <h3>travel</h3>
              <p>
                <em>"But man is not made for defeat. A man can be destroyed but
                  not defeated."</em>
                <a href="#">Ernest Hemingway</a>
              </p>
            </li>

            <li class="filter women">
              <img src="https://i.ibb.co/q7rC5GD/stock1.jpg" />
              <h3>children</h3>
              <p>
                <em>"You can do anything you decide to do. You can act to change
                  and control your life; and the procedure, the process is its
                  own reward."</em>
                <a href="#">Amelia Earhart</a>
              </p>
            </li>

            <li class="filter fw">
              <img src="https://i.ibb.co/q7rC5GD/stock1.jpg" />
              <h3>education</h3>
              <p>
                <em>"Keep your face always toward the sunshine - and shadows will
                  fall behind you."</em>
                <a href="#">Walt Whitman</a>
              </p>
            </li>

            <li class="filter environment">
              <img src="https://i.ibb.co/q7rC5GD/stock1.jpg" />
              <h3>travel</h3>
              <p>
                <em>"But man is not made for defeat. A man can be destroyed but
                  not defeated."</em>
                <a href="#">Ernest Hemingway</a>
              </p>
            </li>

            <li class="filter animals">
              <img src="https://i.ibb.co/q7rC5GD/stock1.jpg" />
              <h3>children</h3>
              <p>
                <em>"You can do anything you decide to do. You can act to change
                  and control your life; and the procedure, the process is its
                  own reward."</em>
                <a href="#">Amelia Earhart</a>
              </p>
            </li>

            <li class="filter shelter">
              <img src="https://i.ibb.co/q7rC5GD/stock1.jpg" />
              <h3>education</h3>
              <p>
                <em>"Keep your face always toward the sunshine - and shadows will
                  fall behind you."</em>
                <a href="#">Walt Whitman</a>
              </p>
            </li>

            <li class="filter fw">
                    <img src="https://i.ibb.co/q7rC5GD/stock1.jpg" />
                    <h3>travel</h3>
                    <p>
                      <em>"But man is not made for defeat. A man can be destroyed but
                        not defeated."</em>
                      <a href="#">Ernest Hemingway</a>
                    </p>
                  </li>
      
                  <li class="filter health">
                    <img src="https://i.ibb.co/q7rC5GD/stock1.jpg" />
                    <h3>children</h3>
                    <p>
                      <em>"You can do anything you decide to do. You can act to change
                        and control your life; and the procedure, the process is its
                        own reward."</em>
                      <a href="#">Amelia Earhart</a>
                    </p>
                  </li>
      
                  <li class="filter education">
                    <img src="https://i.ibb.co/q7rC5GD/stock1.jpg" />
                    <h3>education</h3>
                    <p>
                      <em>"Keep your face always toward the sunshine - and shadows will
                        fall behind you."</em>
                      <a href="#">Walt Whitman</a>
                    </p>
                  </li>

                  <li class="filter women">
                        <img src="https://i.ibb.co/q7rC5GD/stock1.jpg" />
                        <h3>travel</h3>
                        <p>
                          <em>"But man is not made for defeat. A man can be destroyed but
                            not defeated."</em>
                          <a href="#">Ernest Hemingway</a>
                        </p>
                      </li>
          
                      <li class="filter children">
                        <img src="https://i.ibb.co/q7rC5GD/stock1.jpg" />
                        <h3>children</h3>
                        <p>
                          <em>"You can do anything you decide to do. You can act to change
                            and control your life; and the procedure, the process is its
                            own reward."</em>
                          <a href="#">Amelia Earhart</a>
                        </p>
                      </li>
          
                      <li class="filter fw">
                        <img src="https://i.ibb.co/q7rC5GD/stock1.jpg" />
                        <h3>education</h3>
                        <p>
                          <em>"Keep your face always toward the sunshine - and shadows will
                            fall behind you."</em>
                          <a href="#">Walt Whitman</a>
                        </p>
                      </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
