.section {
  width: 100%;
  height: 100%;
}


@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('/assets/fonts/AvenirNextLTPro-Regular.otf');
}


.blog-title {
  font-family: 'AvenirNextLTPro-Regular';
  font-weight: bold;
  font-weight: 400;
  font-size: 4vw;
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin-top: 10%;
  margin-bottom: 8%;
  margin-left: 30px;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.portfolioFilter {
  padding: 30px 0;
}

.filter-button {
  font-family: 'AvenirNextLTPro-Regular';
  font-size: 18px;
  color: #b6b6b6;
  margin-right: 6px;
  padding: 4px 15px;
  display: inline-block;
}

.highlight {
  font-weight: bold;
  text-decoration: underline;
  color: #000000;
}


/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


h1 {
  font-family: 'AvenirNextLTPro-Regular';
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn_card  {
  font-family: 'AvenirNextLTPro-Regular';
  color: #000000;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
}

.btn_card:hover {
  color: #b6b6b6;
  font-size: 16px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}


.cards_item {
  display: flex;
  padding: 1rem;
}



.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, rgb(255,250,250) 40%, rgb(255, 255, 255) 100%);
}

.card_title {
  font-family: 'AvenirNextLTPro-Regular';
  color: #b6b6b6;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  font-family: 'AvenirNextLTPro-Regular';
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}



@media only screen and (min-width:320px)  { 
.section {
  width: 100%;
  height: 100%;
}
  
  
  @font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('/assets/fonts/AvenirNextLTPro-Regular.otf');
  }
  
  
  .blog-title {
    font-family: 'AvenirNextLTPro-Regular';
    font-weight: bold;
    font-weight: 400;
    font-size: 7vw;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-top: 40%;
    margin-bottom: 1%;
  }
  
  button:focus {
    outline: none;
    box-shadow: none;
  }
  
  .portfolioFilter {
    padding: 30px 0;
  }
  
  .filter-button {
    font-size: 19px;
    color: #b6b6b6;
    display: block;
  }
  
  .highlight {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
  }

  /* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn_card  {
  font-family: 'AvenirNextLTPro-Regular';
  color: #000000;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
}

.btn_card:hover {
  color: #b6b6b6;
  font-size: 16px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr ;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}


.cards_item {
  display: flex;
  padding: 1rem;
}



.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, rgb(255,250,250) 40%, rgb(255, 255, 255) 100%);
}

.card_title {
  font-family: 'AvenirNextLTPro-Regular';
  color: #b6b6b6;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  font-family: 'AvenirNextLTPro-Regular';
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

} /* smartphones, iPhone, portrait 480x320 phones */ 

@media only screen and (min-width:375px) and (min-height:812px)  { 
  .section {
    width: 100%;
    height: 100%;
  }
  
  
  @font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('/assets/fonts/AvenirNextLTPro-Regular.otf');
  }
  
  
  .blog-title {
    font-family: 'AvenirNextLTPro-Regular';
    font-weight: bold;
    font-size: 8vw;
    color: rgb(0, 0, 0);
    margin-top: 35%;
    margin-right: 40px;
   
  }
  
  button:focus {
    outline: none;
    box-shadow: none;
  }
  
  .portfolioFilter {
    padding: 30px 0;
  }
  
  .filter-button {
    font-size: 19px;
    color: #b6b6b6;
    display: block;
  }
  
  .highlight {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
  }

   /* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn_card  {
  font-family: 'AvenirNextLTPro-Regular';
  color: #000000;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
}

.btn_card:hover {
  color: #b6b6b6;
  font-size: 16px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}


.cards_item {
  display: flex;
  padding: 1rem;
}



.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, rgb(255,250,250) 40%, rgb(255, 255, 255) 100%);
}

.card_title {
  font-family: 'AvenirNextLTPro-Regular';
  color: #b6b6b6;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  font-family: 'AvenirNextLTPro-Regular';
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
    
} /* smartphones, iPhone, portrait 480x320 phones */ 

@media only screen and (min-width:360px) and (min-height:640px)  { 
  .section {
    width: 100%;
    height: 100%;
  }
  
  
  @font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('/assets/fonts/AvenirNextLTPro-Regular.otf');
  }
  
  
  .blog-title {
    font-family: 'AvenirNextLTPro-Regular';
    font-weight: bold;
    font-size: 7vw;
    color: rgb(0, 0, 0);
    margin-top: 35%;
    margin-left: 10px;
   
  }
  
  button:focus {
    outline: none;
    box-shadow: none;
  }
  
  .portfolioFilter {
    padding: 30px 0;
  }
  
  .filter-button {
    font-size: 19px;
    color: #b6b6b6;
    display: block;
  }
  
  .highlight {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
  }

   /* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn_card  {
  font-family: 'AvenirNextLTPro-Regular';
  color: #000000;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
}

.btn_card:hover {
  color: #b6b6b6;
  font-size: 16px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}


.cards_item {
  display: flex;
  padding: 1rem;
}



.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, rgb(255,250,250) 40%, rgb(255, 255, 255) 100%);
}

.card_title {
  font-family: 'AvenirNextLTPro-Regular';
  color: #b6b6b6;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  font-family: 'AvenirNextLTPro-Regular';
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
    
} /* smartphones, iPhone, portrait 480x320 phones */ 

@media only screen and (min-width:481px)  { 

  .section {
    width: 100%;
    height: 100%;
  }
  
  
  @font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('/assets/fonts/AvenirNextLTPro-Regular.otf');
  }
  
  
  .blog-title {
    font-family: 'AvenirNextLTPro-Regular';
    font-weight: bold;
    font-weight: 400;
    font-size: 7vw;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-top: 20%;
    margin-bottom: 2%;
  }
  
  button:focus {
    outline: none;
    box-shadow: none;
  }
  
  .portfolioFilter {
    padding: 30px 0;
  }
  
  .filter-button {
    font-size: 18px;
    color: #b6b6b6;
    display: block;
  }
  
  .highlight {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
  }
  
  
  /* Design */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  
  h1 {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
  }
  
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn_card  {
    font-family: 'AvenirNextLTPro-Regular';
    color: #000000;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
  }
  
  .btn_card:hover {
    color: #b6b6b6;
    font-size: 16px;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, rgb(255,250,250) 40%, rgb(255, 255, 255) 100%);
  }
  
  .card_title {
    font-family: 'AvenirNextLTPro-Regular';
    color: #b6b6b6;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    font-family: 'AvenirNextLTPro-Regular';
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  
} /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 


@media only screen and (min-width:961px)  { 
  .section {
    width: 100%;
    height: 100%;
  }
  
  
  @font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('/assets/fonts/AvenirNextLTPro-Regular.otf');
  }
  
  
  .blog-title {
    font-family: 'AvenirNextLTPro-Regular';
    font-weight: bold;
    font-weight: 400;
    font-size: 5vw;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-top: 15%;
    margin-bottom: 8%;
  }
  
  button:focus {
    outline: none;
    box-shadow: none;
  }
  
  .portfolioFilter {
    padding: 30px 0;
  }
  
  .filter-button {
    font-size: 18px;
    color: #b6b6b6;
    margin-right: 6px;
    padding: 4px 15px;
    display: inline-block;
  }
  
  .highlight {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
  }
  
  
  /* Design */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  
  h1 {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
  }
  
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn_card  {
    font-family: 'AvenirNextLTPro-Regular';
    color: #000000;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
  }
  
  .btn_card:hover {
    color: #b6b6b6;
    font-size: 16px;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, rgb(255,250,250) 40%, rgb(255, 255, 255) 100%);
  }
  
  .card_title {
    font-family: 'AvenirNextLTPro-Regular';
    color: #b6b6b6;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    font-family: 'AvenirNextLTPro-Regular';
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  
}/* tablet, landscape iPad, lo-res laptops ands desktops */ 
  

@media only screen and (min-width:1025px) { 
  .section {
    width: 100%;
    height: 100%;
  }
  
  
  @font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('/assets/fonts/AvenirNextLTPro-Regular.otf');
  }
  
  
  .blog-title {
    font-family: 'AvenirNextLTPro-Regular';
    font-weight: bold;
    font-weight: 400;
    font-size: 4vw;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-top: 15%;
    margin-bottom: 2%;
    margin-left: 30px;
  }
  
  button:focus {
    outline: none;
    box-shadow: none;
  }
  
  .portfolioFilter {
    padding: 30px 0;
  }
  
  .filter-button {
    font-size: 18px;
    color: #b6b6b6;
    margin-right: 6px;
    padding: 4px 15px;
    display: inline-block;
  }
  
  .highlight {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
  }
  
  
  /* Design */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  
  h1 {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
  }
  
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn_card  {
    font-family: 'AvenirNextLTPro-Regular';
    color: #000000;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
  }
  
  .btn_card:hover {
    color: #b6b6b6;
    font-size: 16px;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, rgb(255,250,250) 40%, rgb(255, 255, 255) 100%);
  }
  
  .card_title {
    font-family: 'AvenirNextLTPro-Regular';
    color: #b6b6b6;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    font-family: 'AvenirNextLTPro-Regular';
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
}/* big landscape tablets, laptops, and desktops */ 

@media only screen and (min-width:1281px) { 
  .section {
    width: 100%;
    height: 100%;
  }
  
  
  @font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('/assets/fonts/AvenirNextLTPro-Regular.otf');
  }
  
  
  .blog-title {
    font-family: 'AvenirNextLTPro-Regular';
    font-weight: bold;
    font-weight: 400;
    font-size: 4vw;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-top: 10%;
    margin-bottom: 4%;
    margin-left: 30px;
  }
  button:focus {
    outline: none;
    box-shadow: none;
  }
  
  .portfolioFilter {
    padding: 30px 0;
  }
  
  .filter-button {
    font-size: 18px;
    color: #b6b6b6;
    margin-right: 6px;
    padding: 4px 15px;
    display: inline-block;
  }
  
  .highlight {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
  }
  
  
  /* Design */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  
  h1 {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
  }
  
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn_card  {
    font-family: 'AvenirNextLTPro-Regular';
    color: #000000;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
  }
  
  .btn_card:hover {
    color: #b6b6b6;
    font-size: 16px;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, rgb(255,250,250) 40%, rgb(255, 255, 255) 100%);
  }
  
  .card_title {
    font-family: 'AvenirNextLTPro-Regular';
    color: #b6b6b6;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    font-family: 'AvenirNextLTPro-Regular';
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
 
} /* hi-res laptops and desktops */