.section {
    margin-top: 130px;
    width: 100%;
    height: 100%;
    display: flex;
  
  }
  

.portfolioFilter {
    padding: 15px 0;
  }
  button:focus {
    outline:none;
    box-shadow: none;
  }
    
  .filter-button {
      margin-right: 6px;
      color: #666;
      text-decoration: none;
      border: 1px solid #ccc;
      padding: 4px 15px;
      border-radius: 50px;
      display: inline-block;
  }

  .highlight{     
    font-weight:bold;
    background: #1e1e1e;
    border: 1px solid #1e1e1e;
    color: #f9f9f9;
   }
   


.portfolioContainer{
    display: flex;
	flex-wrap: wrap;
  }

img {
  margin: 5px;
  max-width:100%;
}





.gallery-title
{
    font-size: 36px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
}


.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}


.isotope-item {
    z-index: 2;
  }
  
  .isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
  }
  
  .isotope,
  .isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
  
  .isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
  }
  
  .isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
  }