<div class="section">
<div class="container">
    <div class="row">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="gallery-title">Hand Prynt Blog</h1>
    </div>

    <div class="portfolioFilter clearfix" id="mylinks">
        <button class="btn filter-button highlight" data-filter="all" >All Categories</button>
        <button class="btn btn-default filter-button" data-filter="education">Education</button>
        <button class="btn btn-default filter-button" data-filter="health">Health</button>
        <button class="btn btn-default filter-button" data-filter="children">Children</button>
        <button class="btn btn-default filter-button" data-filter="women">Women</button>
        <button class="btn btn-default filter-button" data-filter="family">Family</button>
        <button class="btn btn-default filter-button" data-filter="environment">Environment</button>
        <button class="btn btn-default filter-button" data-filter="animals">Animals</button>
        <button class="btn btn-default filter-button" data-filter="shelter">Shelter</button>
        <button class="btn btn-default filter-button" data-filter="fw">Food & Water</button>
    </div>
    <br>


    <div class="portfolioContainer">
        <div class="gallery_product  filter education">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/202/cc99b535336825.Y3JvcCwxMzk1LDEwOTEsMCw3ODA.png" alt="image">
        <h1>this is it</h1>
        </div>

        <div class="gallery_product filter health">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/202/d4cfa934191261.Y3JvcCw2MTMsNDc5LDQsMjA0.jpg" alt="image">
        <h1>this is it</h1>
        </div>

        <div class="gallery_product  filter children">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/202/11893193.5482088f6f391.png" alt="image">
        <h1>this is it</h1>
        </div>

        <div class="gallery_product filter women">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/202/be4b9728308865.55b92edb950fc.jpg" alt="image">
        <h1>this is it</h1>
        </div>

        <div class="gallery_product filter women">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/202/12963199.548365055868a.png" alt="image">
        <h1>this is it</h1>
        </div>

        <div class="gallery_product  filter family">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/202/20342607.5434c04b49254.png" alt="image">
            <h1>this is it</h1>
        </div>

        <div class="gallery_product  filter environment">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/202/b11bbb26474383.555f91fd42584.jpg" alt="image">
            <h1>this is it</h1>
        </div>

        <div class="gallery_product  filter environment">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/202/14385875.548573dae7a09.jpg" alt="image">
        <h1>this is it</h1>
        </div>

        <div class="gallery_product  filter animals">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/202/14569777.5485b3876a1b9.png" alt="image">
            <h1>this is it</h1>
        </div>

        <div class="gallery_product  filter shelter">
            <img src=" https://mir-s3-cdn-cf.behance.net/projects/202/1d854a24500155.5505cccd057a4.jpg" alt="image">
            <h1>this is it</h1>
        </div>

        <div class="gallery_product  filter fw">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/202/f9b95b26406487.555cc1fded76f.jpg" alt="image">
            <h1>this is it</h1>
        </div>

        <div class="gallery_product  filter fw">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/202/181a7b35469661.Y3JvcCw3NjUsNTk5LDY3LDA.png" alt="image">
            <h1>this is it</h1>
        </div>



         </div>
    </div>
</div>

</div>