* {box-sizing: border-box;}

.section {
  margin-top: 12%;
  width: 100%;
  height: 100%;
}

.blog-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 69px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin-top: 7%;
  margin-bottom: 8%;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.portfolioFilter {
  padding: 30px 0;
}

.filter-button {
  font-size: 18px;
  color: #b6b6b6;
  margin-right: 6px;
  padding: 4px 15px;
  display: inline-block;
}

.highlight {
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  color: #000000;
}

.portfolioContainer {
  display: flex;
  
}


img {
  display: block;
  width: 100%;
  border: 2px solid #000000;
}



.responsive ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}


ul {
  list-style: none;
  margin: 0rem;
  padding: 1rem;
}

li {
  background: #fff;
  padding: 3rem;
  
}

.grid-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}


@media screen and  (min-width: 320px) {
  .section {
    margin-top: 40%;
    width: 100%;
    height: 100%;
  }

} /* smartphones, iPhone, portrait 480x320 phones */

@media screen and (min-width: 481px) {
  

} /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

@media screen and  (min-width: 641px) {
 

} /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

@media screen and  (min-width: 961px) {

} /* tablet, landscape iPad, lo-res laptops ands desktops */


@media screen and  (min-width: 1025px) {
 

} /* big landscape tablets, laptops, and desktops */

@media screen and (min-width: 1281px) {
  

} /* hi-res laptops and desktops */