.contact_section {
  width:100%;
	min-height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.contact_section .center-div {
  color: #000000;
	font-family: 'Museo Sans', Avenir, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 900;
	font-size: 5vmin;
	text-align: center;
	font-size: 5vmin; /* If you want to be extra-fancy */
	line-height: 110%;
	text-shadow: 0.05em 0.05em 0.1em #fff;
	text-shadow: 0 0.025em 0.05em rgba(0,0,0,0.75), 0 0.05em 0.1em rgba(0,0,0,0.5);
}
