<div class="contact_section">
  
    <div class="container">

      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">                        
            <h2 class="form-title">Touch Our Hand</h2>
          </div>
      </div>

      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="alert alert-success" role="alert">
              Thanks for contacting us. We'll get back to you soon.
            </div>

            <form id="contact-form" #testForm='ngForm' (ngSubmit)='onSubmit(testForm)' role="form">
          
                <div class="form-group">
                  <label class="form-label" id="nameLabel" for="name"></label>
                  <input required #name='ngModel' [(ngModel)]="contactUsForm.name" type="text" class="form-control" id="name" name="name" placeholder="Your name" tabindex="1">
                  <div>
                    <small class='error' *ngIf="name.invalid && name.touched">Name is required</small>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="form-label" id="emailLabel" for="email"></label>
                  <input required #email='ngModel' [(ngModel)]="contactUsForm.email" type="email" class="form-control" id="email" name="email" placeholder="Your Email" tabindex="2"
                  pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                  <div *ngIf="email.touched && email.invalid">
                    <small class="error" *ngIf="email.errors.required">
                      Email is required
                    </small>
                    <small class="error" *ngIf="email.errors.pattern">
                      Please enter a valid email
                    </small>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="form-label" id="subjectLabel" for="subject"></label>
                  <input required #subject='ngModel' required [(ngModel)]="contactUsForm.subject" type="text" class="form-control" id="subject" name="subject" placeholder="Subject" tabindex="3">
                  <div>
                    <small class='error' *ngIf="subject.invalid && subject.touched">Subject is required</small>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="form-label" id="messageLabel" for="message"></label>
                  <textarea required #message='ngModel' required [(ngModel)]="contactUsForm.message" rows="6" cols="60" name="message" class="form-control" id="message" placeholder="Your message" tabindex="4"></textarea>
                  <div>
                    <small class='error' *ngIf="message.invalid && message.touched">Message is required</small>
                  </div>
                </div>
                
                <div class="text-center margin-top-25">
                  <button type="submit" [disabled]='testForm.invalid' class="btn btn-mod btn-border btn-large" value="Send message">Send Message</button>
                </div>
              </form><!-- End form -->
            
          </div><!-- End col -->

      </div><!-- End row -->
      
    </div><!-- End container -->
    

</div>