.contact_section {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_section .center-div {
  color: #000000;
  font-family: "Museo Sans", Avenir, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 5vmin;
  text-align: center;
  font-size: 5vmin; /* If you want to be extra-fancy */
  line-height: 110%;
  text-shadow: 0.05em 0.05em 0.1em #fff;
  text-shadow: 0 0.025em 0.05em rgba(0, 0, 0, 0.75),
    0 0.05em 0.1em rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.fa-envelope {
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
  height:1rem;
font-size: 1.25em;
line-height: 110%;
  margin: auto;
  position: relative;
}

.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}


@media only screen and (min-width: 320px) {
  @font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
  }

  .contact_section {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .contact_section .center-div {
    color: #000000;
    font-family: "AvenirNextLTPro-Regular";
    font-weight: 900;
    font-size: 8vmin;
    text-align: center;
    font-size: 5vmin; /* If you want to be extra-fancy */
    text-shadow: 0.05em 0.05em 0.1em #fff;
    text-shadow: 0 0.025em 0.05em rgba(0, 0, 0, 0.75),
      0 0.05em 0.1em rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }

  .fa-envelope {
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    height:1rem;
  font-size: 1.25em;
  line-height: 110%;
    margin: auto;
    position: relative;
  }
  
  .blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
} /* smartphones, iPhone, portrait 480x320 phones */

@media only screen and (min-width: 360px) {
  @font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
  }

  .contact_section {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .contact_section .center-div {
    color: #000000;
    font-family: "AvenirNextLTPro-Regular";
    font-weight: 900;
    font-size: 8vmin;
    text-align: center;
    font-size: 5vmin; /* If you want to be extra-fancy */
    text-shadow: 0.05em 0.05em 0.1em #fff;
    text-shadow: 0 0.025em 0.05em rgba(0, 0, 0, 0.75),
      0 0.05em 0.1em rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }

  .fa-envelope {
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    height:1rem;
  font-size: 1.25em;
  line-height: 110%;
    margin: auto;
    position: relative;
  }
  
  .blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
} /* smartphones, iPhone, portrait 480x320 phones */

@media only screen and (min-width: 375px) and (min-height: 812px) {
  @font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
  }

  .contact_section {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .contact_section .center-div {
    color: #000000;
    font-family: "AvenirNextLTPro-Regular";
    font-weight: 900;
    font-size: 8vmin;
    text-align: center;
    font-size: 5vmin; /* If you want to be extra-fancy */
    text-shadow: 0.05em 0.05em 0.1em #fff;
    text-shadow: 0 0.025em 0.05em rgba(0, 0, 0, 0.75),
      0 0.05em 0.1em rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }

  .fa-envelope {
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    height:1rem;
  font-size: 1.25em;
  line-height: 110%;
    margin: auto;
    position: relative;
  }
  
  .blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
} /* smartphones, iPhone, portrait 480x320 phones */

@media only screen and (min-width: 414px) and (min-height: 736px) {
  @font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
  }

  .contact_section {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .contact_section .center-div {
    color: #000000;
    font-family: "AvenirNextLTPro-Regular";
    font-weight: 900;
    font-size: 8vmin;
    text-align: center;
    font-size: 5vmin; /* If you want to be extra-fancy */
    text-shadow: 0.05em 0.05em 0.1em #fff;
    text-shadow: 0 0.025em 0.05em rgba(0, 0, 0, 0.75),
      0 0.05em 0.1em rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }

  .fa-envelope {
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    height:1rem;
  font-size: 1.25em;
  line-height: 110%;
    margin: auto;
    position: relative;
  }
  
  .blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
} /* smartphones, iPhone, portrait 480x320 phones */

@media only screen and (min-width: 481px) {
  @font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
  }

  .contact_section {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .contact_section .center-div {
    color: #000000;
    font-family: "AvenirNextLTPro-Regular";
    font-weight: 900;
    font-size: 8vmin;
    text-align: center;
    font-size: 5vmin; /* If you want to be extra-fancy */
    text-shadow: 0.05em 0.05em 0.1em #fff;
    text-shadow: 0 0.025em 0.05em rgba(0, 0, 0, 0.75),
      0 0.05em 0.1em rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }

  .fa-envelope {
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    height:1rem;
  font-size: 1.25em;
  line-height: 110%;
    margin: auto;
    position: relative;
  }
  
  .blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
} /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

@media only screen and (min-width: 641px) {
  @font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
  }

  .contact_section {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .contact_section .center-div {
    color: #000000;
    font-family: "AvenirNextLTPro-Regular";
    font-weight: 900;
    font-size: 8vmin;
    text-align: center;
    font-size: 5vmin; /* If you want to be extra-fancy */
    text-shadow: 0.05em 0.05em 0.1em #fff;
    text-shadow: 0 0.025em 0.05em rgba(0, 0, 0, 0.75),
      0 0.05em 0.1em rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }

  .fa-envelope {
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    height:1rem;
  font-size: 1.25em;
  line-height: 110%;
    margin: auto;
    position: relative;
  }
  
  .blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
} /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

@media only screen and (min-width: 961px) {
  @font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
  }

  .contact_section {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .contact_section .center-div {
    color: #000000;
    font-family: "AvenirNextLTPro-Regular";
    font-weight: 900;
    font-size: 8vmin;
    text-align: center;
    font-size: 5vmin; /* If you want to be extra-fancy */
    text-shadow: 0.05em 0.05em 0.1em #fff;
    text-shadow: 0 0.025em 0.05em rgba(0, 0, 0, 0.75),
      0 0.05em 0.1em rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }
  .fa-envelope {
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    height:1rem;
  font-size: 1.25em;
  line-height: 110%;
    margin: auto;
    position: relative;
  }
  
  .blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
} /* tablet, landscape iPad, lo-res laptops ands desktops */

@media only screen and (min-width: 1025px) {
  @font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
  }

  .contact_section {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .contact_section .center-div {
    color: #000000;
    font-family: "AvenirNextLTPro-Regular";
    font-weight: 900;
    font-size: 8vmin;
    text-align: center;
    font-size: 5vmin; /* If you want to be extra-fancy */
    text-shadow: 0.05em 0.05em 0.1em #fff;
    text-shadow: 0 0.025em 0.05em rgba(0, 0, 0, 0.75),
      0 0.05em 0.1em rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }
  .fa-envelope {
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    height:1rem;
  font-size: 1.25em;
  line-height: 110%;
    margin: auto;
    position: relative;
  }
  
  .blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
} /* big landscape tablets, laptops, and desktops */

@media only screen and (min-width: 1281px) {
  @font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
  }

  .contact_section {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .contact_section .center-div {
    color: #000000;
    font-family: "AvenirNextLTPro-Regular";
    font-weight: 900;
    font-size: 8vmin;
    text-align: center;
    font-size: 5vmin; /* If you want to be extra-fancy */
    text-shadow: 0.05em 0.05em 0.1em #fff;
    text-shadow: 0 0.025em 0.05em rgba(0, 0, 0, 0.75),
      0 0.05em 0.1em rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }
  .fa-envelope {
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    height:1rem;
  font-size: 1.25em;
  line-height: 110%;
    margin: auto;
    position: relative;
  }
  
  .blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
} /* hi-res laptops and desktops */
