.section {
    position: relative;
    width: 100%;
    height: 100vh;
 
  }


  .test {
    width: 800px;
    height: 300px;
    line-height: 400px;
    position: absolute;
    text-align: center;
  }
  .test p {
    font-size: 50px;
    color: #cbd440;
    text-transform: uppercase;
    font-family: sans-serif;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    line-height: normal;     
  
  }


.banner {
    width: 100%;
    height: 90%;
}


.social {
	margin: 0 auto;
	width: 500px;
    text-align: center;
    margin-top: 5%;
	
}
h2 {
	color: #505050;
	font-size: 70px;
	font-family: 'Poiret One';
	text-align: center;
}
.icon-btn {
	float: left;
	width: 80px;
	height: 80px;
	border: 0;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 40px;
	line-height: 70px;
	border-radius: 45px;
	display: inline-block;
	margin: 5px;
}
.twitter {
	color: #4099FF;
}
.facebook {
	color: #3B5998;
}
.google-plus {
	 color: #DB5A3C;
}
.instagram {
	color: #5C3D2E;
}
.github {
	color: #4183C4;
}
.icon-btn:hover {
	transform: scale(1.10);
	color: #FFFFFF;
}
.twitter:hover {
	background-color: #4099FF;
}
.facebook:hover {
	background-color: #3B5998;
}
.google-plus:hover {
	 background-color: #DB5A3C;
}
.instagram:hover {
	background-color: #5C3D2E;
}
.github:hover {
	background-color: #4183C4;
}
	
  
  .wrapper{max-width:75em;
          margin:0 auto;
          margin-top: 15%;
          background-color:#fff;
          }
  
  
  header h1 {text-align:center;
              color:#9e9e9e;
              font-size:0.8em;
              text-transform:uppercase;
            font-weight:normal;}
  
  
  
  body {
    min-height: 100vh;
    margin: 0; /* Important! */
    font-family: "Open Sans", "Lato", "Helvetica Neue", Helvetica, serif;
    background-color: #fafafa;
    line-height: 1.8;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size:16px;
  }
  
  .posts{max-width:50em;
          margin:0 auto;
          display:flex;
          flex-direction:column;
          justify-content:center;
    padding:0 1em;
  }
  
  .posts .title {margin-bottom:1em;
                  font-weight:bold;
                  max-width:40em;
                  margin:0 auto;
                  text-align:center;}
  
  .posts .date {margin-bottom:4em;
                margin:0 auto;}
  
  .posts .image {margin-bottom:4em;
                margin:0 auto;
                max-width:35em;}
  
  .menu {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 3em 0 8em 0;
  }
  
  .menu a {
    display: inline-block;
    padding: 0.5em;
    margin: 0 1em;
    color:#f03838;
    text-decoration: none
  }
  
  
  
  
  header img {
    margin: 0 auto;
    display: block;
    width: 125px;
    height: 125px;
  }
  
  img {width:100%}


@media only screen and (min-width:320px)  { 

 
    
  } /* smartphones, iPhone, portrait 480x320 phones */ 
  


  @media only screen and (min-width:360px)  { 
  

    
  } /* smartphones, iPhone, portrait 480x320 phones */ 
  


  
  @media only screen and (min-width:414px) and (min-height:736px)  { 


    
  } /* smartphones, iPhone, portrait 480x320 phones */ 
  
  


  @media only screen and (min-width:481px)  { 


  
   } /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  
   


  @media only screen and (min-width:641px)  { 


    
  } /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  
  


  @media only screen and (min-width:961px)  { 


    
  }/* tablet, landscape iPad, lo-res laptops ands desktops */ 
    


  
  @media only screen and (min-width:1025px) { 

  
  }/* big landscape tablets, laptops, and desktops */ 
  


  @media only screen and (min-width:1281px) { 

  } /* hi-res laptops and desktops */

