<div class="about_section">
  <div class="img_text">
    <p>ABOUT US</p>
  </div>

  <div class="image-container">
    <img
      class="banner"
      src="../assets/img/about_us.png"
      srcset="
        ../assets/img/about_us.png 1200w,
        ../assets/img/about_us.png 1024w,
        ../assets/img/about_us.png  768w,
        ../assets/img/about_us.png  480w,
        ../assets/img/about_us.png  320w
      "
      sizes="100vw"
      alt="image with srcset and sizes"
    />
  </div>

  <div class="history_section">
    <h2>History</h2>
    <p>
        On November 8th 2017 KuCoin will allow users to trade Confido. KuCoin
        traders will get access to the following markets once CFD is
        successfully listed: CFD/BTC and CFD/ETH.On November 8th 2017 KuCoin will allow users to trade Confido. KuCoin
        traders will get access to the following markets once CFD is
        successfully listed: CFD/BTC and CFD/ETH.On November 8th 2017 KuCoin will allow users to trade Confido. KuCoin
        traders will get access to the following markets once CFD is
        successfully listed: CFD/BTC and CFD/ETH.
      </p>
  </div>

  <br>
  <hr class="style1">

  <div class="service_section">
    <h2>Services</h2>
    <p>
        On November 8th 2017 KuCoin will allow users to trade Confido. KuCoin
        traders will get access to the following markets once CFD is
        successfully listed: CFD/BTC and CFD/ETH.
      </p>
      <div class="image">
        <img src="http://via.placeholder.com/1350x450" alt="Cat" />
      </div>
  </div>

</div>
