<div class="about_section">
  <div class="img_text">
    <p>ABOUT US</p>
  </div>

  <div class="image-container">
    <img
      class="banner"
      src="../assets/img/about_us.png"
      srcset="
        ../assets/img/about_us.png 1200w,
        ../assets/img/about_us.png 1024w,
        ../assets/img/about_us.png  768w,
        ../assets/img/about_us.png  480w,
        ../assets/img/about_us.png  320w
      "
      sizes="100vw"
      alt="image with srcset and sizes"
    />
  </div>

  <div class="history_section">
    <h2>History</h2>
    <p>
      You do not simply exist in the world—you have the power to leave your mark
      on this world.
    </p>
    <p>
    Every human is an artist. You are born with a blank slate- a limitless canvas of opportunity to create, <br>
    to grow, to experience. As time passes, the texture, the color, the outline of your masterpiece comes alive. <br>
    This is the extraordinary essence of the human spirit, a collaboration of creation.
    <p>
      Handprynt gives you an intimate lens into the soul of humanity—capturing the art of being a human.
    </p>
    <p>
      This world will challenge you, change you, uplift you, and amaze you, shaping your canvas but never controlling your creation. You are capable of deciding how your art will impact our world. 

    </p>
    <p>
      Our goal at Handprynt is to unite people across the globe together for the greater good. Our stories capture the art of humanity and the power <br>
      that lives within each person- through the light and the dark, the vibrant colors and the neutrals- no two are the same but every canvas is connected.
    </p>
    <p>
      This world will fascinate you, challenge you, and compel you to experience more than you ever thought possible. Infinite power lives within you. To love. To explore. To inspire. To create. You are an artist capable of beauty beyond measure.
    </p>
    <p>
      The greatest adventure you will ever embark on: discovering the potential that lives within you, the artist.
    </p>
    <p>
      You have a mark to leave on this world. What will your Handprynt be?
    </p>
  </div>

  <!-- <br />
  <hr class="style1" />

  <div class="service_section">
    <h2>Services</h2>
    <p>
      On November 8th 2017 KuCoin will allow users to trade Confido. KuCoin
      traders will get access to the following markets once CFD is successfully
      listed: CFD/BTC and CFD/ETH.
    </p>
    <div class="image">
      <img src="http://via.placeholder.com/1350x450" alt="Cat" />
    </div>
  </div> -->
</div>
