.about_section {
  position: relative;
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
}

.img_text {
  width: 800px;
  height: 300px;
  line-height: 350px;
  position: absolute;
  text-align: center;
  z-index: 99;
}
.img_text p {
  font-family: "AvenirNextLTPro-Regular";
  font-size: 50px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: sans-serif;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  line-height: normal;
  z-index: 10000;
}

.image-container {
  position: relative;
  background: rgb(0, 0, 0);
  overflow: hidden;
  width: 100%;
  height: 90%;
}

.banner {
  width: 100%;
  height: 90%;
}

hr.style1 {
  border-top: 1px solid #8c8b8b;
  width: 80%;
}

.image-container .banner {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.6;
}

.history_section {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-top: 5%;
}

.service_section {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
h2 {
  color: #505050;
  font-size: 70px;
  font-family: "Poiret One";
  text-align: center;
}

header img {
  margin: 0 auto;
  display: block;
  width: 125px;
  height: 125px;
}

img {
  width: 100%;
}


@media only screen and (min-width: 360px) and (min-height: 640px) {
.about_section {
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
}

.img_text {
  width: 100%;
  height: 100%;
  line-height: 200px;
  position: absolute;
  text-align: center;
  z-index: 99;
}
.img_text p {
  font-family: "AvenirNextLTPro-Regular";
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 50%;
  margin-bottom: 10%;
  z-index: 99;
}

.image-container {
  position: relative;
  background: rgb(0, 0, 0);
  overflow: hidden;
  width: 100%;
  height: 30%;
}

.banner {
  width: 100%;
  height: auto;
}

hr.style1 {
  border-top: 1px solid #000000;
  width: 80%;
}

.image-container .banner {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.6;
}

.history_section {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  margin-top: 5%;
}

.service_section {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
h2 {
  color: #b6b6b6;
  font-size: 40px;
  font-family: "AvenirNextLTPro-Regular";
  margin-bottom: 5%;
  text-align: center;
}

p {
    font-family: "AvenirNextLTPro-Regular";
}


header img {
  margin: 0 auto;
  display: block;
  width: 125px;
  height: 125px;
}

img {
  width: 90%;
}

} /* smartphones, iPhone, portrait 480x320 phones */

@media only screen and (min-width: 414px) and (min-height: 736px) {
    .about_section {
        width: 100%;
        height: 100vh;
      }
      
      @font-face {
        font-family: "AvenirNextLTPro-Regular";
        src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
      }
      
      .img_text {
        width: 100%;
        height: 100%;
        line-height: 200px;
        position: absolute;
        text-align: center;
        z-index: 99;
      }
      .img_text p {
        font-family: "AvenirNextLTPro-Regular";
        font-size: 20px;
        color: #ffffff;
        text-transform: uppercase;
        margin-right: 50%;
        margin-top: 40%;
        z-index: 99;
      }
      
      .image-container {
        position: relative;
        background: rgb(0, 0, 0);
        overflow: hidden;
        width: 100%;
        height: 30%;
      }
      
      .banner {
        width: 100%;
        height: auto;
      }
      
      hr.style1 {
        border-top: 1px solid #000000;
        width: 80%;
      }
      
      .image-container .banner {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        opacity: 0.6;
      }
      
      .history_section {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        margin-top: 5%;
      }
      
      .service_section {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      h2 {
        color: #b6b6b6;
        font-size: 40px;
        font-family: "AvenirNextLTPro-Regular";
        margin-bottom: 5%;
        text-align: center;
      }
      
      p {
          font-family: "AvenirNextLTPro-Regular";
      }
      
      
      header img {
        margin: 0 auto;
        display: block;
        width: 125px;
        height: 125px;
      }
      
      img {
        width: 90%;
      }

} /* smartphones, iPhone, portrait 480x320 phones */

@media only screen and (min-width: 481px) and (min-height: 768px) {
    .about_section {
        width: 100%;
        height: 100vh;
      }
      
      @font-face {
        font-family: "AvenirNextLTPro-Regular";
        src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
      }
      
      .img_text {
        width: 100%;
        height: 100%;
        line-height: 200px;
        position: absolute;
        text-align: center;
        z-index: 99;
      }
      .img_text p {
        font-family: "AvenirNextLTPro-Regular";
        font-size: 20px;
        color: #ffffff;
        text-transform: uppercase;
        margin-right: 50%;
        margin-top: 30%;
        z-index: 99;
      }
      
      .image-container {
        position: relative;
        background: rgb(0, 0, 0);
        overflow: hidden;
        width: 100%;
        height: 30%;
      }
      
      .banner {
        width: 100%;
        height: auto;
      }
      
      hr.style1 {
        border-top: 1px solid #000000;
        width: 80%;
      }
      
      .image-container .banner {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        opacity: 0.6;
      }
      
      .history_section {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        margin-top: 5%;
      }
      
      .service_section {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      h2 {
        color: #b6b6b6;
        font-size: 40px;
        font-family: "AvenirNextLTPro-Regular";
        margin-bottom: 5%;
        text-align: center;
      }
      
      p {
          font-family: "AvenirNextLTPro-Regular";
      }
      
      
      header img {
        margin: 0 auto;
        display: block;
        width: 125px;
        height: 125px;
      }
      
      img {
        width: 90%;
      }

} /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

@media only screen and (min-width: 641px) and (min-height: 768px) {
    .about_section {
        width: 100%;
        height: 100vh;
      }
      
      @font-face {
        font-family: "AvenirNextLTPro-Regular";
        src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
      }
      
      .img_text {
        width: 100%;
        height: 100%;
        line-height: 200px;
        position: absolute;
        text-align: center;
        z-index: 99;
      }
      .img_text p {
        font-family: "AvenirNextLTPro-Regular";
        font-size: 20px;
        color: #ffffff;
        text-transform: uppercase;
        margin-right: 50%;
        margin-top: 35%;
        z-index: 99;
      }
      
      .image-container {
        position: relative;
        background: rgb(0, 0, 0);
        overflow: hidden;
        width: 100%;
        height: 40%;
      }
      
      .banner {
        width: 100%;
        height: auto;
      }
      
      hr.style1 {
        border-top: 1px solid #000000;
        width: 80%;
      }
      
      .image-container .banner {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        opacity: 0.6;
      }
      
      .history_section {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        margin-top: 5%;
      }
      
      .service_section {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      h2 {
        color: #b6b6b6;
        font-size: 40px;
        font-family: "AvenirNextLTPro-Regular";
        margin-bottom: 5%;
        text-align: center;
      }
      
      p {
          font-family: "AvenirNextLTPro-Regular";
      }
      
      
      header img {
        margin: 0 auto;
        display: block;
        width: 125px;
        height: 125px;
      }
      
      img {
        width: 90%;
      }

} /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

@media only screen and (min-width: 768px) and (min-height: 1024px) {
    .about_section {
        width: 100%;
        height: 100vh;
      }
      
      @font-face {
        font-family: "AvenirNextLTPro-Regular";
        src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
      }
      
      .img_text {
        width: 100%;
        height: 100%;
        line-height: 200px;
        position: absolute;
        text-align: center;
        z-index: 99;
      }
      .img_text p {
        font-family: "AvenirNextLTPro-Regular";
        font-size: 60px;
        color: #ffffff;
        text-transform: uppercase;
        margin-right: 50%;
        margin-top: 35%;
        z-index: 99;
      }
      
      .image-container {
        position: relative;
        background: rgb(0, 0, 0);
        overflow: hidden;
        width: 100%;
        height: 40%;
      }
      
      .banner {
        width: 100%;
        height: auto;
      }
      
      hr.style1 {
        border-top: 1px solid #000000;
        width: 80%;
      }
      
      .image-container .banner {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        opacity: 0.6;
      }
      
      .history_section {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        margin-top: 5%;
      }
      
      .service_section {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      h2 {
        color: #b6b6b6;
        font-size: 60px;
        font-family: "AvenirNextLTPro-Regular";
        margin-bottom: 5%;
        text-align: center;
      }
      
      p {
          font-family: "AvenirNextLTPro-Regular";
          font-size: 20px;
      }
      
      
      header img {
        margin: 0 auto;
        display: block;
        width: 125px;
        height: 125px;
      }
      
      img {
        width: 90%;
      }

} /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

@media only screen and (min-width: 961px) {
    .about_section {
        width: 100%;
        height: 100vh;
      }
      
      @font-face {
        font-family: "AvenirNextLTPro-Regular";
        src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
      }
      
      .img_text {
        width: 100%;
        height: 100%;
        line-height: 200px;
        position: absolute;
        text-align: center;
        z-index: 99;
      }
      .img_text p {
        font-family: "AvenirNextLTPro-Regular";
        font-size: 40px;
        color: #ffffff;
        text-transform: uppercase;
        margin-right: 50%;
        margin-top: 35%;
        z-index: 99;
      }
      
      .image-container {
        position: relative;
        background: rgb(0, 0, 0);
        overflow: hidden;
        width: 100%;
        height: 60%;
      }
      
      .banner {
        width: 100%;
        height: auto;
      }
      
      hr.style1 {
        border-top: 1px solid #000000;
        width: 80%;
      }
      
      .image-container .banner {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        opacity: 0.6;
      }
      
      .history_section {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        margin-top: 5%;
      }
      
      .service_section {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      h2 {
        color: #b6b6b6;
        font-size: 60px;
        font-family: "AvenirNextLTPro-Regular";
        margin-bottom: 5%;
        text-align: center;
      }
      
      p {
          font-family: "AvenirNextLTPro-Regular";
          font-size: 20px;
      }
      
      
      header img {
        margin: 0 auto;
        display: block;
        width: 125px;
        height: 125px;
      }
      
      img {
        width: 90%;
      }

} /* tablet, landscape iPad, lo-res laptops ands desktops */

@media only screen and (min-width: 1024px) and (min-height: 1336px) {
    .about_section {
        width: 100%;
        height: 100vh;
      }
      
      @font-face {
        font-family: "AvenirNextLTPro-Regular";
        src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
      }
      
      .img_text {
        width: 100%;
        height: 100%;
        line-height: 200px;
        position: absolute;
        text-align: center;
        z-index: 99;
      }
      .img_text p {
        font-family: "AvenirNextLTPro-Regular";
        font-size: 40px;
        color: #ffffff;
        text-transform: uppercase;
        margin-right: 50%;
        margin-top: 40%;
        z-index: 99;
      }
      
      .image-container {
        position: relative;
        background: rgb(0, 0, 0);
        overflow: hidden;
        width: 100%;
        height: 40%;
      }
      
      .banner {
        width: 100%;
        height: auto;
      }
      
      hr.style1 {
        border-top: 1px solid #000000;
        width: 80%;
      }
      
      .image-container .banner {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        opacity: 0.6;
      }
      
      .history_section {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        margin-top: 5%;
      }
      
      .service_section {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      h2 {
        color: #b6b6b6;
        font-size: 80px;
        font-family: "AvenirNextLTPro-Regular";
        margin-bottom: 5%;
        text-align: center;
      }
      
      p {
          font-family: "AvenirNextLTPro-Regular";
          font-size: 30px;
      }
      
      
      header img {
        margin: 0 auto;
        display: block;
        width: 125px;
        height: 125px;
      }
      
      img {
        width: 90%;
      }
} 

@media only screen and (min-width: 1025px) {
    .about_section {
        width: 100%;
        height: 100vh;
      }
      
      @font-face {
        font-family: "AvenirNextLTPro-Regular";
        src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
      }
      
      .img_text {
        width: 100%;
        height: 100%;
        line-height: 200px;
        position: absolute;
        text-align: center;
        z-index: 99;
      }
      .img_text p {
        font-family: "AvenirNextLTPro-Regular";
        font-size: 40px;
        color: #ffffff;
        text-transform: uppercase;
        margin-right: 50%;
        margin-top: 30%;
        z-index: 99;
      }
      
      .image-container {
        position: relative;
        background: rgb(0, 0, 0);
        overflow: hidden;
        width: 100%;
        height: 60%;
      }
      
      .banner {
        width: 100%;
        height: auto;
      }
      
      hr.style1 {
        border-top: 1px solid #000000;
        width: 80%;
      }
      
      .image-container .banner {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        opacity: 0.6;
      }
      
      .history_section {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        margin-top: 5%;
      }
      
      .service_section {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      h2 {
        color: #b6b6b6;
        font-size: 60px;
        font-family: "AvenirNextLTPro-Regular";
        margin-bottom: 5%;
        text-align: center;
      }
      
      p {
          font-family: "AvenirNextLTPro-Regular";
          font-size: 20px;
      }
      
      
      header img {
        margin: 0 auto;
        display: block;
        width: 125px;
        height: 125px;
      }
      
      img {
        width: 90%;
      }
} /* big landscape tablets, laptops, and desktops */

@media only screen and (min-width: 1281px) {
    .about_section {
        position: relative;
        width: 100%;
        height: 100vh;
      }
      
      @font-face {
        font-family: "AvenirNextLTPro-Regular";
        src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
      }
      
      .img_text {
        width: 800px;
        height: 300px;
        line-height: 350px;
        position: absolute;
        text-align: center;
        z-index: 99;
      }
      .img_text p {
        font-family: "AvenirNextLTPro-Regular";
        font-size: 50px;
        color: #ffffff;
        text-transform: uppercase;
        margin-right: 30%;
        margin-top: 40%;
        z-index: 10000;
      }
      
      .image-container {
        position: relative;
        background: rgb(0, 0, 0);
        overflow: hidden;
        width: 100%;
        height: 90%;
      }
      
      .banner {
        width: 100%;
        height: 90%;
      }
      
      hr.style1 {
        border-top: 1px solid #000000;
        width: 80%;
      }
      
      .image-container .banner {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        opacity: 0.6;
      }
      
      .history_section {
        margin: 0 auto;
        width: 80%;
        text-align: center;
        margin-top: 5%;
      }
      
      .service_section {
        margin: 0 auto;
        width: 80%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      h2 {
        color: #505050;
        font-size: 70px;
        font-family: "AvenirNextLTPro-Regular";
        text-align: center;
      }
      
      header img {
        margin: 0 auto;
        display: block;
        width: 125px;
        height: 125px;
      }
      
      img {
        width: 80%;
      }
      
} /* hi-res laptops and desktops */
