.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}



.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  color:  #008000;
  width: 100%;
  height: 100vh;
  opacity: 0.8;
}


.video-wrapper {
  position: relative;
  z-index: 1;
  border: 5px outset #ddd;
  width:500px;
  height: 360px;
  text-align: center;
  background-color: black;
  opacity: 0.9
}

.video-wrapper > video {
  width: 100%;
  vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
  display: none;
}

.play i {
  position: absolute;
  left: 40%;
  top: 50%;
  color: #008000;
  font-size: 70px;
  background: #fff;
  border-radius: 50%;
  height: 40px;
  width: 51px;
  line-height: 50px;
  z-index:2;
}
.video-poster{
		background: url('http://moarthemes.com/wp-content/uploads/2015/03/video_background.png');
	  background-repeat: no-repeat;
	  position: absolute;
	  width: 940px;
	  height: 529px;
}
.play i:hover{
	cursor:pointer;
}