.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: #008000;
  width: 100%;
  height: 100vh;
  opacity: 0.8;
}

.video-wrapper {
  position: relative;
  padding-bottom: 25%;
  padding-top: 25px;
  border: 5px outset #008000;
  background-color: black;
  opacity: 0.9;
  z-index: 1;
  float: none;
  clear: both;
  width: 55%;
  height: 40%;
}

.video-wrapper > iframe.has-media-controls-hidden::-webkit-media-controls {
  display: none;
}

.play i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #008000;
  font-size: 70px;
  background: #fff;
  border-radius: 50%;
  height: px;
  width: 47px;
  line-height: 50px;
  z-index: 2;
}

.videotitle {
  position: absolute;
  top: 90%;
  left: 50%;
  color: #ffffff;
  font-size: 3vw;
  text-align: center;
  white-space: nowrap ;
  transform: translate(-50%, -50%);
}

.video-poster {
  background: url("http://moarthemes.com/wp-content/uploads/2015/03/video_background.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 940px;
  height: 529px;
}
.play i:hover {
  cursor: pointer;
  color: #05dd05;
}
