@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/* nav bar */
nav {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

nav #brand {
  float: left;
  display: block;
  margin-left: 20px;
  font-size: 50px;
  line-height: 70px;
  font-weight: bold;
}

img.logo-navbar {
  width: 4rem !important;
  height: 4rem !important;
  top: 45%;
}

img.logo-navbar-overlay {
  width: 4rem !important;
  height: 4rem !important;
  top: 45%;
}
nav #brand a {
  color: #fff;
  transition: all 0.3s ease-out;
}

.button_container {
  position: absolute;
  top: 42%;
  right: 3%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 1s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  transform: translateY(10px) translateX(0) rotate(45deg);
  background: #000000;
}
.button_container.active .middle {
  opacity: 0;
  background: #000000;
}
.button_container.active .bottom {
  transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: #000000;
}
.button_container span {
  background: #000000;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  transition: all 1s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 10px;
}
.button_container span:nth-of-type(3) {
  top: 20px;
}


/* full responsive menu */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: hidden;
  z-index: 1000;
  transition: opacity 0.35s, visibility 0.35s, width 0.35s;
}

.overlay:before {
  content: '';
  background: #feeb6a;
  left: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  transition: left 1.0s ease;
}
.overlay:after {
  content: '';
  background: #ffffff;
  right: -55%;
  top: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  transition: all 1.0s ease;
  background-image: url('/assets/img/overlayimg.jpeg');
  background-repeat: repeat;
  background-size: 95%;
  background-attachment: fixed;
  background-position: 10%;
}

.overlay.open {
  /*opacity: 0.9;*/
  visibility: visible;
  height: 100%;
}
.overlay.open:before {
  left: 0;
}
.overlay.open:after {
  right: 0;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.55s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.65s;
}
.overlay nav {
  position: absolute;
  height: 30%;
  top: 46%;
  right: 50%;
  float: right;
  transform: translateY(-50%);
  font-size: 30px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
  z-index: 100;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #000000;
  text-decoration: none;
  overflow: hidden;
  font-family: 'Arial', Courier, monospace
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li  {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #000000;
  transition: 0.35s;
}

.icon--twitter::before {
  content: "\f099";
}
.social__icon--twitter {
  background-color: #32b9e7;
}
.social__icon--twitter:hover {
  background-color: #2b9dc4;
}
.icon--instagram::before {
  content: "\f16d";
}
.social__icon--instagram {
  background-color: #6291b2;
}
.social__icon--instagram:hover {
  background-color: #537b97;
}
.social__item_mobile {
  display: inline-block;
  margin-right: 1.0em;
}
.icon, [class^="icon--"] {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.social__icon_mobile, [class^="social__icon"] {
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__container_mobile {
  font-size: 1.5em;
  padding-left: 8%;
  padding-top: 20%;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}




@media (min-width:320px)  { 
  .overlay:before {
    content: '';
    background: #feeb6a;
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: left 1.0s ease;
  }
  .overlay:after {
    content: '';
    background: #ffffff;
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    transition: all 1.0s ease;
    background-image: url('/assets/img/overlayimg-mobile.png');
    background-repeat: no-repeat;
    background-size: 210%;
    background-color: #feeb6a;
    background-attachment: absolute;
    background-position:center;
  }

  .overlay nav {
    position: absolute;
    height: 30%;
    width: 50%;
    top: 46%;
    right: 50%;
    float: right;
    transform: translateY(-50%);
    font-size: 15px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    text-align: center;
    z-index: 100;
  }

  .social__container_mobile {
    font-size: 1.5em;
    display: inline-block;
    padding-left: 15%;
    padding-top: 90%;
  }
  
  img.logo-navbar-overlay {
    width: 4rem !important;
    height: 4rem !important;
    top: 45%;
    z-index: 10000;
  }
} /* smartphones, iPhone, portrait 480x320 phones */ 

@media (min-width:481px)  { 
 #overlay .close-overlay{
    position: absolute;
    right: 15px;
    top: 34px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index: inherit;
    border-style: none;
    border-color: transparent;
  }
  #overlay .close-overlay:hover {
    opacity: 1;
  }
 #overlay .close-overlay:before, .close-overlay:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #000000;
  }
  .close-overlay:before {
    transform: rotate(45deg);
  }
   .close-overlay:after {
    transform: rotate(-45deg);
  }

  nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }
  .social__container_mobile {
    font-size: 1.5em;
    display: inline-block;
    padding-left: 15%;
    padding-top: 50%;
  }

  .overlay:before {
    content: '';
    background: #feeb6a;
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: left 1.0s ease;    
  }

  
 img.logo-navbar-overlay {
    width: 4rem !important;
    height: 4rem !important;
    top: 45%;
  }

 } /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

 
@media (min-width:641px)  { 

} /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:961px)  { 

}/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:1025px) { 

}/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1281px) { 

} /* hi-res laptops and desktops */