<nav>
  <span id="brand">
    <a [routerLink]="['']">
      <img class="logo-navbar" src="/assets/img/temp_logo.png" alt="">
    </a>
  </span>
  

  <div class="button_container" id="toggle">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>
</nav>



<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li><a [routerLink]="['/blog-page']">HOME</a></li>
      <li><a [routerLink]="['/blog-page']">STORIES</a></li>
      <li><a [routerLink]="['/blog-page']">BLOG</a></li>
      <li><a [routerLink]="['/blog-page']">ABOUT US</a></li>
      <li><a [routerLink]="['/blog-page']">CONTACT US</a></li>
    </ul>
    <div class="social__container_mobile">   
      <div class="social__item_mobile">
              <a target="_blank" href="https://twitter.com/handprynt/" class="social__icon--twitter"><i class="icon--twitter"></i></a>
      </div>
      <div class="social__item_mobile">
              <a target="_blank" href="https://www.instagram.com/handprynt/" class="social__icon--instagram"><i class="icon--instagram"></i></a>
      </div>
    </div>
  </nav>
</div>