<nav>
  <span id="brand">
    <a href="javascript:;">Handprynt</a>
  </span>
  <ul id="menu">
    <li><a href="javascript:;">HOME</a></li>
    <li><a href="javascript:;">STORIES</a></li>
    <li><a href="javascript:;">BLOG</a></li>
    <li><a href="javascript:;">ABOUT US</a></li>
    <li><a href="javascript:;">CONTACT US</a></li>
    <li><a class="social__item_desktop" target="_blank" href="https://twitter.com/matchboxhero10" class="social__icon--twitter"><i class="icon--twitter"></i></a></li>
    <li><a class="social__item_desktop" target="_blank" href="http://instagram.com" class="social__icon--instagram"><i class="icon--instagram"></i></a></li>
  </ul>
  

  <div class="button_container" id="toggle">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>
</nav>



<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li><a href="javascript:;">HOME</a></li>
      <li><a href="javascript:;">STORIES</a></li>
      <li><a href="javascript:;">BLOG</a></li>
      <li><a href="javascript:;">ABOUT US</a></li>
      <li><a href="javascript:;">CONTACT US</a></li>
    </ul>
    <div class="social__container_mobile">   
      <!-- social__item twitter -->
      <div class="social__item_mobile">
              <a target="_blank" href="https://twitter.com/matchboxhero10" class="social__icon--twitter"><i class="icon--twitter"></i></a>
      </div>
      <!-- /social__item twiter -->
      <!-- social__item instagram -->
      <div class="social__item_mobile">
              <a target="_blank" href="http://instagram.com" class="social__icon--instagram"><i class="icon--instagram"></i></a>
      </div>
      <!-- /social__item instagram -->
    </div>
  </nav>
</div>