.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  

  .video-wrapper {
    position: relative;
    padding-bottom: 25%;
    padding-top: 25px;
    border: 7px #ffffff;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    float: none;
    clear: both;
    width: 100vh;
    height: 1%;
  }
  

  .transform {
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;  
    transition: all 2s ease;
  }
  
  .transform-active {
    position: relative;
    border: 7px #ffffff;
    border-style: solid;
    background-color:black;
    top:0px;
    left:0px;
    width:100%;
    height:100%; 
    z-index:1000000;
  }

  .transform-active .videotitle {
    position: relative;
    border: 7px #ffffff;
    border-style: solid;
    background-color:black;
    top:0px;
    left:0px;
    width:100%;
    height:100%; 
    z-index:1;
    display: none
  }

  .transform-active .play{
    position: relative;
    border: 7px #ffffff;
    border-style: solid;
    background-color:black;
    top:0px;
    left:0px;
    width:100%;
    height:100%; 
    z-index:1;
    display: none
  }

  .transform-active .pulse{
    position: relative;
    border: 7px #ffffff;
    border-style: solid;
    background-color:black;
    top:0px;
    left:0px;
    width:100%;
    height:100%; 
    z-index:1;
    display: none
  }


  .close {
    display: none
  }

  .transform-active .close {
    position: relative;
    right: 32px;
    top: 5px;
    margin-right: 30px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    display: inline-block;
    border-style: none;
    border-color: transparent;
  }
  .transform .close:hover {
    opacity: 1;
  }
  .transform .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #ffffff;
  }
  .transform .close:before {
    transform: rotate(45deg);
  }
  .transform .close:after {
    transform: rotate(-45deg);
  }
  
  
  .play i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 70px;
    background: #fff;
    border-radius: 60%;
    height: px;
    width: 49px;
    cursor: pointer;
    line-height: 50px;
    z-index: 1000;
  }
  
  .pulse {
    position: absolute;
    top: 50.5%;
    left: 51.2%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    line-height: 50px;
    z-index: 1000;

}


.pulse div {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 4px solid white;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-iteration-count: infinite;
    animation-duration: 2900ms;
    opacity: 0;
}

.pulse div.one {
    animation-name: pulse;
}

.pulse div.two {
    animation-name: pulse;
    animation-delay: 1000ms;
}

.pulse div.three {
    animation-name: pulse;
    animation-delay: 2000ms;
}

@keyframes pulse {
    0% {
        margin: -4px 0 0 -4px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    25% {
        margin: -17px 0 0 -17px;
        width: 26px;
        height: 26px;
        opacity: 1;
        border-size: 4px;
    }
    100% {
        margin: -51px 0 0 -51px;
        width: 96px;
        height: 96px;
        opacity: 0;
        border-size: 6px;
    }
}

 

  .video-wrapper  #videoPlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .videotitle {
    position: absolute;
    top: 80%;
    left: 50%;
    color: #ffffff;
    font-size: 3vw;
    text-align: center;
    white-space: nowrap ;
    transform: translate(-50%, -50%);
    font-family: 'Arial', Courier, monospace
  }
  
  .play i:hover {
    cursor: pointer;
    color: #141313;
  }


  .video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .video-container > .img {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    color: #000000;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
  }

  #apt {
    width: 100%;
    height:100%;
 }

 
  
  @media (max-width: 640px) {
    .video-container {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .video-container > .img {
      /* Make video to at least 100% wide and tall */
      min-width: 100%;
      min-height: 100%;
    
      /* Setting width & height to auto prevents the browser from stretching or squishing the video */
      width: auto;
      height: auto;
    
      /* Center the video */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .color-overlay {
      position: absolute;
      top: 0;
      left: 0;
      color: #000000;
      width: 100%;
      height: 100vh;
      opacity: 0.8;
    }

    
    .social__container_mobile {
      font-size: 1.5em;
      padding-left: 6%;
      padding-top: 10%;
    }

    .video-wrapper {
      position: relative;
      padding-bottom: 25%;
      padding-top: 25px;
      border: 7px #ffffff;
      border-style: solid;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
      float: none;
      clear: both;
      width: 80%;
      height: 35%;
    }


    .transform {
      -webkit-transition: all 2s ease;  
      -moz-transition: all 2s ease;  
      -o-transition: all 2s ease;  
      -ms-transition: all 2s ease;  
      transition: all 2s ease;
    }
    
    .transform-active {
      position: relative;
      border: 7px #ffffff;
      border-style: solid;
      background-color:black;
      top:0px;
      left:0px;
      width:100%;
      height:100%; 
      z-index:1000000;
    }
  
    .transform-active .videotitle {
      position: relative;
      border: 7px #ffffff;
      border-style: solid;
      background-color:black;
      top:0px;
      left:0px;
      width:100%;
      height:100%; 
      z-index:1;
      display: none
    }
  
    .transform-active .play{
      position: relative;
      border: 7px #ffffff;
      border-style: solid;
      background-color:black;
      top:0px;
      left:0px;
      width:100%;
      height:100%; 
      z-index:1;
      display: none
    }
  
    .transform-active .pulse{
      position: relative;
      border: 7px #ffffff;
      border-style: solid;
      background-color:black;
      top:0px;
      left:0px;
      width:100%;
      height:100%; 
      z-index:1;
      display: none
    }
  
    .transform-active .close {
      position: relative;
      right: 32px;
      top: 5px;
      margin-right: 30px;
      width: 32px;
      height: 32px;
      opacity: 0.3;
      display: inline-block;
      border-style: none;
      border-color: transparent;
    }
    .transform .close:hover {
      opacity: 1;
    }
    .transform .close:before, .close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #ffffff;
    }
    .transform .close:before {
      transform: rotate(45deg);
    }
    .transform .close:after {
      transform: rotate(-45deg);
    }

    .close {
      display: none
    }

    #videoPlayer {
      max-width: 100%;
      background-color: #000000;
      padding: 0;
      margin: 0;
      height: 85vh;
      width: 100%;
    }

    .videotitle {
      position: absolute;
      top: 78%;
      left: 50%;
      color: #ffffff;
      font-size: 6vw;
      text-align: center;
      white-space: nowrap ;
      transform: translate(-50%, -50%);
      font-family: 'Arial', Courier, monospace

    }

    .play i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #000000;
      font-size: 70px;
      background: #fff;
      border-radius: 60%;
      height: px;
      width: 49px;
      line-height: 50px;
      z-index: 1000;
    }
    
    .pulse {
      position: absolute;
      top: 50.5%;
      left: 53%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      line-height: 50px;
      z-index: 1000;
  
  }
  
  
  .pulse div {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 4px solid white;
      border-radius: 50%;
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      animation-iteration-count: infinite;
      animation-duration: 2900ms;
      opacity: 0;
  }
  
  .pulse div.one {
      animation-name: pulse;
  }
  
  .pulse div.two {
      animation-name: pulse;
      animation-delay: 1000ms;
  }
  
  .pulse div.three {
      animation-name: pulse;
      animation-delay: 2000ms;
  }
  
  @keyframes pulse {
      0% {
          margin: -4px 0 0 -4px;
          width: 0;
          height: 0;
          opacity: 0;
      }
      25% {
          margin: -17px 0 0 -17px;
          width: 26px;
          height: 26px;
          opacity: 1;
          border-size: 4px;
      }
      100% {
          margin: -51px 0 0 -51px;
          width: 96px;
          height: 96px;
          opacity: 0;
          border-size: 6px;
      }
  }
  
  }
  
  @media (min-width: 641px) and (max-width: 800px) {
  
  
  
  }
  
  @media (min-width: 801px) and (max-width: 1024px) {
  
  
  
  }
  
  @media (min-width: 1025px) {
  
  
  
  }
  