.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
  
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    color: #000000;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
  }
  
  .video-wrapper {
    position: relative;
    padding-bottom: 25%;
    padding-top: 25px;
    border: 13px outset #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    float: none;
    clear: both;
    width: 100vh;
    height: 1%;
  }
  
  .video-wrapper > iframe.has-media-controls-hidden::-webkit-media-controls {
    display: none;
  }
  
  .play i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 70px;
    background: #fff;
    border-radius: 50%;
    height: px;
    width: 45px;
    line-height: 50px;
    z-index: 1000;
  }
  
  .teaser {
    background-size: cover;
    position: absolute;
    
  }
   #videoPlayer {
    max-width: 100%;
    background-color: #000000;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
  }

  .teaser .close {
    color: white;
    position: absolute;
    /* background: blue !important; */
    border: 0;
    top: 0;
    z-index: 99999;
    right: 3%;
    float: none;
    opacity: 1;
    font-size: 40px;
    font-weight: 400;
  }

  .fullscreenvideo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1px;
    width: 100%;
    height: 100%;
  }

  .videotitle {
    position: absolute;
    top: 90%;
    left: 50%;
    color: #ffffff;
    font-size: 3vw;
    text-align: center;
    white-space: nowrap ;
    transform: translate(-50%, -50%);
    font-family: Helvetica
  }
  
  .video-poster {
    background: url("http://moarthemes.com/wp-content/uploads/2015/03/video_background.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 940px;
    height: 529px;
  }
  .play i:hover {
    cursor: pointer;
    color: #141313;
  }
  

  @media (max-width: 640px) {
    .social__container_mobile {
      font-size: 1.5em;
      padding-left: 6%;
      padding-top: 10%;
    }

    .video-wrapper {
      position: relative;
      padding-bottom: 25%;
      padding-top: 25px;
      border: 13px outset #ffffff;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
      float: none;
      clear: both;
      width: 55%;
      height: 40%;
    }
  
  }
  
  @media (min-width: 641px) and (max-width: 800px) {
  
  
  
  }
  
  @media (min-width: 801px) and (max-width: 1024px) {
  
  
  
  }
  
  @media (min-width: 1025px) {
  
  
  
  }
  