<div class="section">
        <div class="video-wrapper transform">
                <div class="close transform"></div>
                <div class="pulse"></div>
                <div class="play"  data-toggle="modal" id="fullscreen"><div class="videotitle">Welcome to Handprynt!</div><i class="fa fa-play-circle" ></i></div>
                
                <div class="container">
                    <video  controls crossorigin playsinline id="videoPlayer">
                                    <!-- Video files -->
                                    <source src="https://videocel.s3.amazonaws.com/2017+DREAMING+WITH+MY+EYES+OPEN.mp4" type="video/mp4" size="576">
                                    <source src="https://videocel.s3.amazonaws.com/2017+DREAMING+WITH+MY+EYES+OPEN.webm" type="video/webm" size="720">
                                    <source src="https://videocel.s3.amazonaws.com/2017DREAMINGWITHMYEYESOPEN.ogg" type="video/ogg" size="1080">
 <!-- useable
                                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" type="video/mp4" size="576">
                                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4" type="video/mp4" size="720">
                                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4" type="video/mp4" size="1080">
                                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1440p.mp4" type="video/mp4" size="1440">
  -->                  
                                    <!-- Caption files 
                                    <track kind="captions" label="English" srclang="en" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                                        default>
                                    <track kind="captions" label="Français" srclang="fr" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">
                                     -->

                                    <!-- Fallback for browsers that don't support the <video> element 
                                    <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
                                    -->
                                </video>
                      
                      
                    </div>
            </div>


<!--just in case-->
<!--<div class="video-wrapper">
        <div class="play"><div class="videotitle">Welcome to Handprynt!</div><i data-video="Y7d42LJfkqQ" class="fa fa-play-circle" ></i></div>
    </div>-->
<!--poster="//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/poster.png"-->


<div class="video-container">
    <div class="color-overlay"></div>
    <img src='https://videocel.s3.amazonaws.com/dreamstime_126166002.gif' id='apt' alt=""/>
</div> 
</div>
