<div class="video_section">
  <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="videopage-title">
      HANDPRYNT STORIES
    </h1>
  </div>

    <div class="videos-grid">
    <div class="videobox">
            <h5 class="video-title">update Alpha Launch Date SET!! - WAN Show Feb. 23 2018</h5>
    <div class="videos-grid-video">
            <video poster="//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/poster.png" id=video_page_player onplay="controls=true">
                    <source src="https://videocel.s3.amazonaws.com/2017+DREAMING+WITH+MY+EYES+OPEN.mp4" type="video/mp4"/>
                  </video>
                  <div class="round-button" id="video_screen"><i class="fa fa-play fa-2x"></i></div>
          <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam massa dui, ornare eu porttitor ut, tristique ac tellus.</p>
        </div>
    </div>

  <!--  <div class="videobox">
            <h5 class="video-title">Floatplane Alpha Launch Date SET!! - WAN Show Feb. 23 2018</h5>
    <div class="videos-grid-video">
            <video poster="//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/poster.png"  onplay="controls=true">
                <source src="https://videocel.s3.amazonaws.com/2017+DREAMING+WITH+MY+EYES+OPEN.mp4" type="video/mp4"/>
              </video>
              <div class="round-button" id="video_screen"><i class="fa fa-play fa-2x"></i></div>
          <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam massa dui, ornare eu porttitor ut, tristique ac tellus.</p>
        </div>
    </div>

    <div class="videobox">
            <h5 class="video-title">Floatplane Alpha Launch Date SET!! - WAN Show Feb. 23 2018</h5>
    <div class="videos-grid-video">
            <video poster="//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/poster.png"  onplay="controls=true">
                <source src="https://videocel.s3.amazonaws.com/2017+DREAMING+WITH+MY+EYES+OPEN.mp4" type="video/mp4"/>
              </video>
              <div class="round-button" id="video_screen"><i class="fa fa-play fa-2x"></i></div>
          <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam massa dui, ornare eu porttitor ut, tristique ac tellus.</p>
        </div>
    </div>

    <div class="videobox">
            <h5 class="video-title">Floatplane Alpha Launch Date SET!! - WAN Show Feb. 23 2018</h5>
    <div class="videos-grid-video">
            <video poster="//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/poster.png" onplay="controls=true">
                <source src="https://videocel.s3.amazonaws.com/2017+DREAMING+WITH+MY+EYES+OPEN.mp4" type="video/mp4"/>
              </video>
              <div class="round-button" id="video_screen"><i class="fa fa-play fa-2x"></i></div>
          <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam massa dui, ornare eu porttitor ut, tristique ac tellus.</p>
        </div>
    </div>

    <div class="videobox">
            <h5 class="video-title">Floatplane Alpha Launch Date SET!! - WAN Show Feb. 23 2018</h5>
    <div class="videos-grid-video">
            <video poster="//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/poster.png"  onplay="controls=true">
                <source src="https://videocel.s3.amazonaws.com/2017+DREAMING+WITH+MY+EYES+OPEN.mp4" type="video/mp4"/>
              </video>
              <div class="round-button" id="video_screen"><i class="fa fa-play fa-2x"></i></div>
          <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam massa dui, ornare eu porttitor ut, tristique ac tellus.</p>
        </div>
    </div>

    <div class="videobox">
            <h5 class="video-title">Floatplane Alpha Launch Date SET!! - WAN Show Feb. 23 2018</h5>
    <div class="videos-grid-video">
            <video poster="//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/poster.png"  onplay="controls=true">
                    <source src="https://videocel.s3.amazonaws.com/2017+DREAMING+WITH+MY+EYES+OPEN.mp4" type="video/mp4"/>
                  </video>
                  <div class="round-button" id="video_screen"><i class="fa fa-play fa-2x"></i></div>
      <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam massa dui, ornare eu porttitor ut, tristique ac tellus.</p>
    </div>
    </div>
-->
  </div>
</div>
